.forgot-password {
  width: 100%;
  height: 100vh;
  background-image: url(../../../Resources/Images/planBG.jpg);
}

.forgot-password .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.forgot-password .container .steps {
  width: 550px;
  height: 450px;
  overflow: hidden;
}

.forgot-password .container .steps .sub-container {
  width: 100%;
  height: 450px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: ease 0.25s;
  transition: ease 0.25s;
}

.forgot-password .container .steps form {
  background-color: white;
  width: 550px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

.forgot-password .container .steps form p {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 2em;
}

.forgot-password .container .steps form input {
  border-color: black;
  color: black;
  width: 80%;
}

.forgot-password .container .steps form button {
  width: 100px;
  background-color: red;
  border-radius: 5em;
}

.forgot-password .container .steps .dots {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2em;
}

.forgot-password .container .steps .dots .dot {
  width: 15px;
  height: 15px;
  overflow: hidden;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c8c8c8;
}

.forgot-password .container .steps .dots .dot.active::before {
  content: "";
  display: block;
  height: 80%;
  border-radius: 100%;
  width: 80%;
  background-color: red;
}

.forgot-password .cust-Form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
}

.forgot-password .cust-Form .input-fields {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 1em;
          column-gap: 1em;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.forgot-password .cust-Form .input-fields input {
  border: 1px solid black;
  margin-top: 0;
  text-align: center;
  width: 100%;
}

.forgot-password .cust-Form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forgot-password .cust-Form input {
  color: black;
  border: none;
  border-bottom: 1px solid black;
  padding: 1em;
  width: 100%;
  outline: none;
}

.forgot-password .cust-Form .input-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
}

.forgot-password .cust-Form .input-div p {
  font-size: 12px;
  margin-top: 0em;
  opacity: 50%;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.forgot-password .cust-Form input ~ input {
  margin-top: 2em;
}

.forgot-password .cust-Form button {
  background-color: red;
  width: 40%;
  border: none;
  color: white;
  margin-top: 2em;
  padding: 1em;
  cursor: pointer;
  border-radius: 5em;
}
/*# sourceMappingURL=ForgotPassword.css.map */