.about-us {
    height: 100vh;
    width: 100%;
    .banner {
        background-image: url(../../../Resources/Images/MHA.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        height: 30vh;
    }

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0em 5em;
        padding-top: 4em;
        text-align: justify;

        h1 {
            font-weight: 100;
            span {
                font-weight: 400;
            }
        }
        .logo {
            user-select: none;
            p {
                font-family: Onsen Japan Demo;
                font-size: 50px;
            }
        }
    }
}
